* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color: white;
    background-color: #131111;
}

.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px, 40px;
    background-color: #9B3333;
}

.hero {  
    background-color: green;
    align-items: center;
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 40px;
}

.hero-image {
    background-color: blue;
    max-width: 100%;
}

.hero-image img{
    width: 100%;
    height: auto;
    display: block;
}