* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    text-align: center;
    color: white;
    background-color: #787973;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #9B3333;
    padding-block: 4%;
}

header h1 {
    font-size: 75%;
}

header h2 {
    font-size: 150%;
}

.top {  
    width: 100%;
    height: 20%;
    display: flex;
    padding-inline: 1%;
    padding-block: 1%;
    justify-content: space-between ;
}

.top-content {
    font-size: 30%;
    width: 50%;
    background-color: #131111;
    justify-content: space-between;
    text-align: center;
    padding-top: 5%;
}   

.top-content h1 {
    font-size: 200%; 
}

.top-content h2 {
   font-size: 250%; 
}

.top-content button {
    font-size: 200%;
    padding: 4% 8%;
    margin-top: 5%;
    background-color: #9B3333;
    border: none;
    color: white;
    cursor: pointer;
}


.top-image {
    width: 50%;
    background-color: #131111 
}

.top img {
    width: 100%;
    height: auto;
}
