* {
	margin: 0;
   	padding: 0;
    box-sizing: border-box;
    color: white;
}
body {
	font-family: 'Bebas Neue', cursive;
}	

a {
  	text-decoration: none;
  	color: black;
}
img {
  	max-width: 100%;
}

header {
	display: flex;
	align-items: center;
	background-color: #9B3333;
	width: 100%;
	height: 150px;
	padding: 0 20px;
}
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: 2.5rem;
}
.logo {
	position: absolute;
    left: 50%;
   	transform: translateX(-50%);
}
.header-container a {
	color: white;
}
.left {
	margin-right: auto;
}
.right {
	margin-left: auto;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.slogan {
	min-height: 70vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: green;
}
.slogan-container{
	min-height: 70vh;
	width: 100%;
	display: flex;
}
.slogan-container-1{
	display: flex;
	width: 40%;
	background-color: black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slogan-container-2{
	display: flex;
	width: 60%;
	background-image: url("../imagens/capa.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.slogan-h1 {
	font-size: 4.5rem;
	margin-left: 2rem;
}
.slogan-h2 {
    margin-top: -1rem;
    font-size: 2.5rem;
	margin-left: 2rem;
}
.slogan-buttom {
    font-weight: bold;
    margin-left: 2rem;
	margin-top: 4rem;
	width: 50%;
	height: 15%;
	background-color: #9B3333;
	transition: 0.3s;
    font-size: 2rem;
}
.slogan-buttom:hover {
    background-color: #D98C8C;
}

.content {
	min-height: 50vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #131111;
}
.content-container{
	min-height: 50vh;
	width: 100%;
	display: flex;
}
.content-container-1{
	display: flex;
	width: 50%;
	background-image: url("../imagens/capa2.png");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	margin: 2rem;
	}
.content-container-2{
	display: flex;
	width: 50%;
	background-color: #131111;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.content-h1 {
    font-size: 3.5rem;
	margin-left: 2rem;
}
.content-h2 {
    margin-top: 2.5rem;
    font-size: 2.5rem;
	margin-left: 2rem;
}
.content-buttom {
    font-weight: bold;
    margin-left: 2rem;
	margin-top: 4rem;
	width: 50%;
	height: 25%;
	background-color: #9B3333;
	transition: 0.3s;
    font-size: 2rem;
}
.content-buttom:hover {
    background-color: #D98C8C;
}
.film {
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	padding: 60px 20px;
	background-color: #131111;
	min-height: 40vh;
	width: 100%;
}
.film-container {
	margin-left: 1.5rem;
	margin-bottom: 1rem;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
    font-size: 1.5rem;
}

.film-cards {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	background-color: #131111;
	width: 100%;
}
.film-card {
	display: grid;
    gap: 20px;
	justify-content: center;
	align-items: center;
	margin: 0.5rem;
	border-radius: 1rem;
	width: 20%;
	height: 30vh;
}
.film-card img {
    width: 100%;
    height: 330px;
    object-fit: cover;
}

.plans{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #131111;
	min-height: 50vh;
	width: 100%;
}
.plans-container-1{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: start;
	width: 50%;
	height: 50vh;
	background-color: #131111;
	margin-left: 1rem;
	border-radius: 1rem;
}
.plans-container-1 h1 {
	font-size: 4rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
}
.plans-container-1 h2 {
	font-size: 2rem;
	margin-left: 2rem;
	margin-bottom: 1rem;
}
.plans-container-1 button {
	font-weight: bold;
    margin-left: 2rem;
	margin-top: 2rem;
	width: 50%;
	height: 25%;
	background-color: #9B3333;
	transition: 0.3s;
    font-size: 2rem;
}
.plans-container-1 button:hover {
    background-color: #D98C8C;
}
.plans-container-2{
	display: flex;
	height: 50vh;
	width: 50%;
	margin: 2rem;
	border-radius: 1rem;
}
.plans-container-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
footer{
	display: flex;
	justify-content: center;
    align-items: center;
	background-color: #9B3333;
	height: 150px;
	padding: 20px;
    position: relative;
	width: 100%;
    padding: 0 20px;
    font-size: 2.5rem;
}

@media (max-width: 1280px) {
	
	.slogan-container{
		flex-direction: column-reverse;
	}
	.slogan-container-1, .slogan-container-2 {
		width: 100%;
		height: 50vh;
	}

	.slogan-h1 {	
		font-size: 6.5rem;
		margin: 1rem;
		text-align: center;
	}
	.slogan-h2 {
		font-size: 4.5rem;
		margin: 1rem;
		text-align: center;
	}

	.slogan-buttom {
		width: 40%;
		height: 20%;
	}

	.content-container{
		flex-direction: column;
	}
	.content-container-2 {
		width: 100%;
		height: 50vh;	
		align-items: center;
	}
	.content-container-1 {
		width: 90%;
		height: 50vh;	
		align-items: center;
	}
	.content-h1 {
  		font-size: 4.5rem;
		margin-left: 0rem;
	}
	.content-h2 {
    	margin-top: 3.5rem;
    	font-size: 2.5rem;
		margin-left: 0rem;
	}
	.content-buttom {
		width: 40%;
		height: 25%;
	}

	.plans {
		flex-direction: column-reverse;
		width: 100%;
	}
	.plans-container-1, .plans-container-2 {
		width: 100%;
		height: 50vh;
		margin: 0;
		align-items: center;
		text-align: center;
	}
	
	.plans-container-1 button {
		width: 40%;
		height: 20%;
	}
	
}

@media (max-width: 480px) {
	header {
		height: 70px;
		padding: 0 20px;
	}
	.header-container {
		font-size: 1rem;
	}
	.slogan-container{
		
	}
	.slogan-container-1 {
		width: 100%;
		height: 35vh;
	}
	.slogan-container-2{
		width: 100%;
		height: 35vh;
	}

	.slogan-h1 {	
		font-size: 3.5rem;
		margin: 0.5rem;
	}
	.slogan-h2 {
		font-size: 2.5rem;
		margin: 0rem;
	}
	.slogan-buttom {
    	margin-left: 1rem;
		margin-top: 4rem;
    	font-size: 1rem;
	}

	/* arrumando*/
	.content-container-1, .content-container-2 {
		width: 100%;
		height: 35vh;	
	}
	.content-h1 {
  		font-size: 4.5rem;
		margin-left: 0rem;
	}
	.content-h2 {
    	margin-top: 3.5rem;
    	font-size: 2.5rem;
		margin-left: 0rem;
	}
	.content-buttom {
		width: 40%;
		height: 25%;
	}

	.plans {
		width: 100%;
	}
	.plans-container-1, .plans-container-2 {
		width: 100%;
		height: 50vh;
		margin: 0;
	}
	
	.plans-container-1 button {
		width: 40%;
		height: 20%;
	}
	
}