* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 1rem;
    font-family: 'Arial', sans-serif;
}

body{
    width: 100%;
    color: white;
    background-color: #787973;
}
main {
    flex: 1;
}

header {
    font-size: 1rem;
    width: 100%;
    background-color: #9B3333;
    padding: 1rem;
    align-items: center;
    display: flex;
    justify-content: space-between;
}


header h2 {
    font-size: 3.5rem;
    letter-spacing: -0.05em;   
}





.top {
    display: flex;
    width: 100%;
    height: 50vh;
}

.top-content {
    width: 40%;
    background-color: #131111;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top-image {
    width: 60%;
    background-image: url("../imagens/capa.png");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}
 

.top-content h1 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.top-content h2 {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}

.top-content button {
    padding: 0.75rem 1.5rem;
    background-color: #9B3333;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 1rem;
}

/* APAGAR*/
.main2 {
    width: 100%;
    background-color: green;
    min-height: 1vh;
    max-height: 10vh;
}
.filmes {
    width: 100%;
    background-color: yellow;
    min-height: 1vh;
    max-height: 10vh;
}
.main3 {
    width: 100%;
    background-color: blue;
    min-height: 1vh;
    max-height: 10vh;
}
/* APAGAR*/




